<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'Contate-nos'"
                  [desc]="'Tem alguma pergunta? Interessado em alugar ou comprar um imóvel? Nos envie uma mensagem.'">
</app-header-image>

<div class="px-3">

    <div class="theme-container">
        <mat-card class="main-content-header mb-5">
            
            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <div fxFlex="100" fxFlex.gt-xs="33.3">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <mat-icon color="primary" class="mat-icon-lg">location_on</mat-icon>
                        <h3 class="primary-color py-1">Endereço:</h3>
                        <span>Av. Barão de Campos Gerais, 749 | Real Parque - SP | Sede própria</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
                        <h3 class="primary-color py-1">Telefone:</h3>
                        <span>(11) 3755-0055</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">schedule</mat-icon>
                        <h3 class="primary-color py-1">Atendimento:</h3>
                        <span>Seg - Sab | 09:00 – 19:00</span>
                    </div>
                </div>
                <div class="divider w-100 mt-3"></div>
                <h3 class="w-100 text-center py-3">CONTATE-NOS</h3>
                
                <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" formControlName="nome" required>
                            <mat-error *ngIf="contactForm.controls.nome.errors?.required">O nome é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required>
                            <mat-error *ngIf="contactForm.controls.email.errors?.required">Email é obrigatório</mat-error>
                            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">Email inválido</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Telefone" formControlName="telefone" mask="(00) 0*" required maxlength="11">
                            <mat-error *ngIf="contactForm.controls.telefone.errors?.required">Telefone é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="px-1 mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Mensagem</mat-label> 
                            <textarea matInput placeholder="Mensagem" formControlName="mensagem" required rows="7"></textarea> 
                            <mat-error *ngIf="contactForm.controls.mensagem.errors?.required">Mensagem é obrigatório</mat-error>
                        </mat-form-field>
                    </div> 
                    <div class="w-100 py-2 text-center">
                        <button mat-raised-button color="primary" type="submit" class="uppercase">Enviar</button>
                    </div> 
                </form> 
            
            </div> 
            
            <div class="mt-5 contact-map">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false" ></agm-marker>
                </agm-map>
            </div>

        </mat-card>  
    </div>

</div>