<div style="margin-top: 5%;" class="footer" fxLayout="row">
  
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" vexContainer>
    <!-- <a class="action"
       color="primary"
       fxFlex="none"
       href="#"
       id="get-vex"
       mat-raised-button>
      <ic-icon [icon]="iconFooter" class="ltr:mr-2 rtl:ml-2" inline="true" size="18px"></ic-icon>
      <span>Visualizar Site</span>
    </a> -->
    <div class="info">
      
      <div @fadeInUp class="bg-card py-16 px-gutter footer">
        <h2 class="display-1 mt-0 mb-4 text-center">Fale Conosco</h2>
        <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">Reclame Aqui é um site brasileiro de reclamações contra empresas sobre atendimento, compra, venda, produtos e serviços.</h3>
    
        <div class="mt-16 max-w-3xl mx-auto flex flex-col md:flex-row">
          <a class="text-center p-6 border rounded md:w-1/2 md:mx-2"
             routerLinkActive>
            <ic-icon [icon]="icPhoneInTalk" class="text-hint" size="42px"></ic-icon>
            <h3 class="title mb-0 mt-4">+1 (840) 423-3404</h3>
            <h4 class="subheading-2 m-0 text-hint">Central de Atendimento</h4>
          </a>
    
          <a class="text-center p-6 border rounded md:w-1/2 md:mx-2"
             routerLinkActive>
            <ic-icon [icon]="icMail" class="text-hint" size="42px"></ic-icon>
            <h3 class="title mb-0 mt-4">reclameaqui@suporte.com</h3>
            <h4 class="subheading-2 m-0 text-hint">Envie-nos um email para maiores informações</h4>
          </a>
        </div>
      </div>

      
      
      
    </div>
    
    
  </div>
</div>

