<div class="header">
  <div class="example-header"></div>

  <div class="container mat-elevation-z8"> 
    <div class="row" >
      <div class="col-sm-3">
        <mat-form-field appearance="outline">
          <mat-label>Filtrar</mat-label>
          <input matInput placeholder="filtrar" (keyup)="applyFilter($event.target.value)">
          <mat-icon [icIcon]="icSearch" matSuffix></mat-icon>
        </mat-form-field>
      </div>
      <div class="col add">
        <button style="max-height: 37px;" [routerLink]="['/cad-imoveis']" mat-raised-button color="primary">Cadastrar Imóvel</button>
      </div>
    </div>

    <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.ref || "-"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Fachada">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fachada </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row" [style.color]="row.color">
            <img style="max-width: 75px;" src="../../../{{row.fotoFachada}}" *ngIf="row.fotoFachada">
          </mat-cell>
      </ng-container> 

      <ng-container matColumnDef="Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Edifício / Condomínio </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.edificioCondominio || "-"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tipo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.tipo || "-"}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="Preco">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Preço </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> R${{row.preco || "-"}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="DataAlteracao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Alteração </mat-header-cell>
        <mat-cell class="rows" style="text-align: left;" *matCellDef="let row"> {{row.dataAlteracao || "-"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Acoes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ações </mat-header-cell>
          <mat-cell class="rows" *matCellDef="let row" [style.color]="row.color">
            <img (click)="edit(row.id)" style="cursor: pointer; max-width: 25px;" src="../../../assets/edit.png">
            <img (click)="delete(row.id)" style="cursor: pointer; max-width: 25px; margin-left: 15px;" src="../../../assets/Recycle_Bin_Full.png">
          </mat-cell>
      </ng-container>  

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </cdk-virtual-scroll-viewport>
  </div>
</div>