.header {
  background-color: var(--background-base);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e6e6e6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23e6e6e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.footer {
  background-image: url('/assets/img/illustrations/it_support.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 250px;
  padding-bottom: 250px;

  // @screen md {
  //   @apply pb-4;
  // }
}
.stepsContainer {
  padding-top: 3%;
  display:flex;
  width:62%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}

.stepConectorPiece {
  height:3px;
  background:lightgrey;
  flex:1;
  margin-top:19px;
}

.stepCircle {
  width:40px;
  height:40px;
  border-radius:100%;
  background:lightgrey;
  text-align:center;
  line-height:40px;
  color:#ffffff;
  font-family:helvetica;
}

// @media screen and (min-width: 1250px) {
//   .size{
//       width: 50px;
      
//   }
// }
.one,
.two,
.three {
  flex:1;
  padding:5px;
}

.one {
  padding-top:10px;
}

.three {
  padding-bottom:10px;
}

.four {
  flex:1;
  position:relative;
  height:40px;
}

.input {
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  height:32px;
  line-height:32px;
  padding-left:10px;
}

.submit {
  position:absolute;
  right:14px;
  background:darkblue;
  color:#ffffff;
  height:26px;
  padding-left:10px;
  padding-right:10px;
  border:none;
  font-size:10px;
  font-weight:600;
  text-transform:uppercase;
  cursor:pointer;
}

.thankYou {
  text-align:center;
  font-family:helvetica;
  font-weight:800;
}

.customerContactContainer {
  display:flex;
  height:32px;
  line-height:32px;
  font-family:helvetica;
  font-weight:600;
  margin-top:20px;
  width:300px;
  margin-left:auto;
  margin-right:auto;

}

.nameTitle {
  width:100px;
  background:#f6f6f6;
  padding-left:10px;
  font-size:12px;
}

.emailTitle {
  flex:1;
  background:#f6f6f6;
  padding-left:10px;
  font-size:12px;
}

.customerListItemsContainer {
  display:flex;
  height:32px;
  border-bottom:1px solid #dddddd;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  line-height:32px;
  font-family:helvetica;
  font-size:12px;
}

.name {
  width:100px;
  padding-left:10px;
}

.email {
  flex:1;
  padding-left:10px;
}

.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tp-full-width {
  width: 100%;
}
.gridDinamico {
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);  
}

//SCSS para Drag And Drop

.uploadfilecontainer {
  background-image: url("../../../assets/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

//list 1
.files-list1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list1 .delete-file1 {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list1 .delete-file1 img {
  width: 30px;
}

//list 2
.files-list2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list2 .delete-file2 {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list2 .delete-file2 img {
  width: 30px;
}

//list 3
.files-list3 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list3 .delete-file3 {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list3 .delete-file3 img {
  width: 30px;
}

//list 4
.files-list4 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list4 .delete-file4 {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list4 .delete-file4 img {
  width: 30px;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

@media screen and (max-width: 600px) {
  .formSizeDefault{
    margin-top: -30%; 
    padding-right: 2%; 
    padding-left: 2%;
  }
}

@media screen and (min-width: 600px) {
  .formSizeDefault{
    margin-top: -110px; 
    padding-right: 15%; 
    padding-left: 15%;
  }
}

@media screen and (max-width: 600px) {
  .fotosSizeDefault{
    margin-top: -20%; 
    padding-right: 2%; 
    padding-left: 2%;
  }
}

@media screen and (min-width: 600px) {
  .fotosSizeDefault{
    margin-top: -10%;
    padding-right: 15%; 
    padding-left: 15%;
  }
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.delete-foto{
  position: absolute;
  width: 30px;
  border: none;
  cursor: pointer;
  top: -7px;
  right: -7px;
}


.cardHover:hover{
  // color: #424242; 
  // display: block;
  overflow:visible;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  // opacity: none;
  transform: scale(1.3) !important;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
}